{% spaceless %}
    <fieldset class="module">
        <h2 class="collapse-handler">
            {{ field.label }}
            {% if field.field.required %}(required){% endif %}
        </h2>

        <div class="row cells-1 {{ field.name }} {% if field.errors %}errors{% endif %}">
            <div>
                <div class="column span-4">{{ field.label_tag }}</div>
                <div class="column span-flexible">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
        </div>
    </fieldset>
{% endspaceless %}
